<?xml version="1.0"?>
<config>
    <modules>
        <Zab_Timedcart>
            <version>1.1.0</version>
        </Zab_Timedcart>
    </modules>
    <global>
        <models>
            <zab_timedcart>
                <class>Zab_Timedcart_Model</class>
                <resourceModel>zab_timedcart_resource</resourceModel>
            </zab_timedcart>
            <zab_timedcart_resource>
                <class>Zab_Timedcart_Model_Resource</class>
                <entities>
                    <timedcart_item>
                        <table>zab_timedcart_item</table>
                    </timedcart_item>
                </entities>
            </zab_timedcart_resource>
        </models>
        <blocks>
            <zab_timedcart>
                <class>Zab_Timedcart_Block</class>
            </zab_timedcart>
        </blocks>
        <helpers>
            <zab_timedcart>
                <class>Zab_Timedcart_Helper</class>
            </zab_timedcart>
        </helpers>
        <resources>
            <zab_timedcart_setup>
                <setup>
                    <module>Zab_Timedcart</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </zab_timedcart_setup>
        </resources>
        <events>
            <sales_quote_product_add_after>
                <observers>
                    <zab_timedcart_check_item>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>checkTimedItem</method>
                    </zab_timedcart_check_item>
                </observers>
            </sales_quote_product_add_after>
            <sales_quote_item_save_after>
                <observers>
                    <zab_timedcart_add_item>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>saveReservation</method>
                    </zab_timedcart_add_item>
                </observers>
            </sales_quote_item_save_after>
            <sales_quote_save_after>
                <observers>
                    <zab_timedcart_delete_item>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>setTimerActive</method>
                    </zab_timedcart_delete_item>
                </observers>
            </sales_quote_save_after>
            <sales_quote_load_after>
                <observers>
                    <zab_timedcart_check>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>checkExpires</method>
                    </zab_timedcart_check>
                </observers>
            </sales_quote_load_after>

            <controller_action_predispatch_checkout_onepage_saveorder>
                <observers>
                    <zab_timedcart>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>extendTimer</method>
                    </zab_timedcart>
                </observers>
            </controller_action_predispatch_checkout_onepage_saveorder>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <zab_timedcart>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>checkDeletedItems</method>
                    </zab_timedcart>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <sales_model_service_quote_submit_failure>
                <observers>
                    <zab_timedcart>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>revertTimer</method>
                    </zab_timedcart>
                </observers>
            </sales_model_service_quote_submit_failure>
            <catalog_product_is_salable_after>
                <observers>
                    <zab_timedcart>
                        <type>singleton</type>
                        <class>zab_timedcart/observer</class>
                        <method>checkProductStatus</method>
                    </zab_timedcart>
                </observers>
            </catalog_product_is_salable_after>

        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <zab_timedcart>
                    <file>zab/timedcart.xml</file>
                </zab_timedcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <zab_timedcart>
                    <files><default>Zab_Timedcart.csv</default></files>
                </zab_timedcart>
            </modules>
        </translate>
    </frontend>
    <default>
        <zab_timedcart>
            <general>
                <active>1</active>
                <timeout_product>30</timeout_product>
                <time_extension>180</time_extension>
            </general>
        </zab_timedcart>
    </default>
</config>