<?xml version="1.0"?>
<config>
    <modules>
        <Zab_Billing>
            <version>1.0.0</version>
        </Zab_Billing>
    </modules>
    <global>
        <models>
            <zab_billing>
                <class>Zab_Billing_Model</class>
                <resourceModel>zab_billing_resource</resourceModel>
            </zab_billing>
            <zab_billing_resource>
                <class>Zab_Billing_Model_Resource</class>
                <entities>
                    <numerazione>
                        <table>sl_numerazione_documenti</table>
                    </numerazione>
                </entities>
            </zab_billing_resource>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Zab_Billing_Model_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_creditmemo>Zab_Billing_Model_Pdf_Creditmemo</order_pdf_creditmemo>
                    <service_order>Zab_Billing_Model_Sales_Service_Order</service_order>
                    <order_creditmemo_total_tax>Zab_Billing_Model_Sales_Order_Creditmemo_Total_Tax</order_creditmemo_total_tax>


                </rewrite>
            </sales>

        </models>
        <blocks>
            <class>Zab_Billing_Block</class>
            <adminhtml>
                <rewrite>
                    <sales_order_invoice_view>Zab_Billing_Block_Adminhtml_Sales_Order_Invoice_View</sales_order_invoice_view>
                    <sales_order_invoice_create>Zab_Billing_Block_Adminhtml_Sales_Order_Invoice_Create</sales_order_invoice_create>
                    <sales_order_creditmemo_view>Zab_Billing_Block_Adminhtml_Sales_Order_Creditmemo_View</sales_order_creditmemo_view>
                    <sales_order_creditmemo_create>Zab_Billing_Block_Adminhtml_Sales_Order_Creditmemo_Create</sales_order_creditmemo_create>
                    <sales_order_creditmemo_create_adjustments>Zab_Billing_Block_Adminhtml_Sales_Order_Creditmemo_Create_Adjustments</sales_order_creditmemo_create_adjustments>

                </rewrite>
            </adminhtml>
            <sales>
                <rewrite>
                    <order_invoice_items>Zab_Billing_Block_Order_Invoice_Items</order_invoice_items>
                    <order_creditmemo_items>Zab_Billing_Block_Order_Creditmemo_Items</order_creditmemo_items>

                </rewrite>
            </sales>
        </blocks>

        <helpers>
            <zab_billing>
                <class>Zab_Billing_Helper</class>
            </zab_billing>
        </helpers>
        <resources>
            <zab_billing_setup>
                <setup>
                    <module>Zab_Billing</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zab_billing_setup>
            <zab_billing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zab_billing_write>
            <zab_billing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zab_billing_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <vat_id><to_order>*</to_order></vat_id>
                <partita_iva><to_order>*</to_order></partita_iva>
                <richiesta_fattura><to_order>*</to_order></richiesta_fattura>
                <indirizzo_aziendale><to_order>*</to_order></indirizzo_aziendale>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <vat_id><to_order>*</to_order></vat_id>
                <partita_iva><to_order>*</to_order></partita_iva>
                <richiesta_fattura><to_order>*</to_order></richiesta_fattura>
                <indirizzo_aziendale><to_order>*</to_order></indirizzo_aziendale>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <vat_id><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></vat_id>
                <partita_iva><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></partita_iva>
                <richiesta_fattura><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></richiesta_fattura>
                <indirizzo_aziendale><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></indirizzo_aziendale>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <vat_id><to_quote_address>*</to_quote_address></vat_id>
                <partita_iva><to_quote_address>*</to_quote_address></partita_iva>
                <richiesta_fattura><to_quote_address>*</to_quote_address></richiesta_fattura>
                <indirizzo_aziendale><to_quote_address>*</to_quote_address></indirizzo_aziendale>
            </sales_convert_order_address>
            <customer_address>
                <vat_id><to_quote_address>*</to_quote_address></vat_id>
                <partita_iva><to_quote_address>*</to_quote_address></partita_iva>
                <richiesta_fattura><to_quote_address>*</to_quote_address></richiesta_fattura>
                <indirizzo_aziendale><to_quote_address>*</to_quote_address></indirizzo_aziendale>
            </customer_address>
            <checkout_onepage_billing>
                <vat_id><to_customer>*</to_customer></vat_id>
                <partita_iva><to_customer>*</to_customer></partita_iva>
                <richiesta_fattura><to_customer>*</to_customer></richiesta_fattura>
                <indirizzo_aziendale><to_customer>*</to_customer></indirizzo_aziendale>
            </checkout_onepage_billing>
            <checkout_multishipping_billing>
                <vat_id><to_customer>*</to_customer></vat_id>
                <partita_iva><to_customer>*</to_customer></partita_iva>
                <richiesta_fattura><to_customer>*</to_customer></richiesta_fattura>
                <indirizzo_aziendale><to_customer>*</to_customer></indirizzo_aziendale>
            </checkout_multishipping_billing>
        </fieldsets>
        <events>

            <sales_order_invoice_save_after>
                <observers>
                    <aggiorna_numerazione>
                        <type>singleton</type>
                        <class>zab_billing/observer</class>
                        <method>aggiornaNumerazione</method>
                    </aggiorna_numerazione>
                </observers>
            </sales_order_invoice_save_after>
            <sales_order_creditmemo_save_after>
                <observers>
                    <aggiorna_numerazione>
                        <type>singleton</type>
                        <class>zab_billing/observer</class>
                        <method>aggiornaNumerazione</method>
                    </aggiorna_numerazione>
                </observers>
            </sales_order_creditmemo_save_after>
            <sales_order_invoice_save_before>
                <observers>
                    <get_incrementid>
                        <type>singleton</type>
                        <class>zab_billing/observer</class>
                        <method>beforeSaveInvoice</method>
                    </get_incrementid>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_creditmemo_save_before>
                <observers>
                    <get_incrementid>
                        <type>singleton</type>
                        <class>zab_billing/observer</class>
                        <method>beforeSaveCreditmemo</method>
                    </get_incrementid>
                </observers>
            </sales_order_creditmemo_save_before>
        </events>
        <pdf>
            <invoice>
                <default>zab_billing/pdf_items_invoice_default</default>
            </invoice>
            <creditmemo>
                <default>zab_billing/pdf_items_creditmemo_default</default>
            </creditmemo>

            <totals>
                  <discount translate="title">
                    <title>Discount</title>
                    <source_field>discount_amount</source_field>
                    <amount_prefix></amount_prefix>
                    <title_source_field>discount_description</title_source_field>
                    <model>zab_billing/sales_pdf_discount</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>200</sort_order>
                </discount>

                <grand_total translate="title">
                    <title>Totale IVA Escl</title>
                    <model>zab_billing/sales_pdf_grandtotal</model>
                    <source_field>grand_total</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>700</sort_order>
                </grand_total>

            </totals>

            <totals_ndc>

                <grand_total translate="title">
                    <title>Grand Total</title>
                    <source_field>grand_total</source_field>
                    <font_size>8</font_size>
                    <display_zero>1</display_zero>
                    <sort_order>700</sort_order>
                </grand_total>
            </totals_ndc>

        </pdf>
    </global>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <vat_id><billing>1</billing></vat_id>
                <partita_iva><billing>1</billing></partita_iva>
                <richiesta_fattura><billing>1</billing></richiesta_fattura>
                <indirizzo_aziendale><billing>1</billing></indirizzo_aziendale>
            </customer_dataflow>
        </fieldsets>

        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Zab_Billing before="Mage_Adminhtml">Zab_Billing_Adminhtml</Zab_Billing>
                    </modules>

                </args>
            </adminhtml>
        </routers>
    </admin>

    <default>
        <zab_billing>
            <general>
                <indipendenti>1</indipendenti>
            </general>
            <fattura>
                <formato>F$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </fattura>
            <ndc>
                <formato>N$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </ndc>
            <creditmemo>
                <formato>C$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </creditmemo>
            <creditmemo_ndc>
                <formato>CN$S$N/$A</formato>
                <numero_iniziale>1</numero_iniziale>
            </creditmemo_ndc>
        </zab_billing>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <zab_billing>
                    <file>zab/billing.xml</file>
                </zab_billing>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <zab_billing>
                        <type>model</type>
                        <class>zab_billing/adminhtml_observer</class>
                        <method>appendCustomColumn</method>
                    </zab_billing>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>

    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <zab_billing>
                    <file>zab/billing.xml</file>
                </zab_billing>
            </updates>
        </layout>

        <routers>
            <zab_billing>
                <use>standard</use>
                <args>
                    <module>Zab_Billing</module>
                    <frontName>billing</frontName>
                </args>
            </zab_billing>
        </routers>
    </frontend>
</config> 
