<?xml version="1.0"?>
<config>
	  <tabs>
		<zab translate="label" module="zab_billing">
            <label>Zab</label>
            <sort_order>100</sort_order>
        </zab>
	  </tabs>
	  <sections>
		<zab_billing  translate="label" module="zab_billing">
		<label>Fatturazione</label>
		<tab>zab</tab>
		<frontend_type>text</frontend_type>
		<sort_order>0</sort_order>
		<show_in_default>1</show_in_default>
		<show_in_website>1</show_in_website>
		<show_in_store>1</show_in_store>            
					<groups>
                        <general translate="label">
                        <label>Generale</label>
                        <frontend_type>text</frontend_type>
                        <sort_order>0</sort_order>
                        <show_in_default>1</show_in_default>
                        <show_in_website>0</show_in_website>
                        <show_in_store>0</show_in_store>
                        <fields>
                        <indipendenti translate="label">
                            <label>Contatori Indipendenti per </label>
                            <frontend_type>select</frontend_type>
                            <source_model>zab_billing/config_indipendenti</source_model>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>

                            <comment>
                                <![CDATA[
Specifica se la numerazione dei documenti deve essere indipendente per store view o website
]]>
                            </comment>
                        </indipendenti>
                        </fields>
                        </general>
				      <fattura translate="label">
					  <label>Fatture</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <formato translate="label">
                            <label>Formato Numero</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                              <backend_model>zab_billing/config_formato</backend_model>
                              <comment>
                                  <![CDATA[
Si può inserire qualsiasi carattere alfanumerico. All'interno del formato devono essere specificati i seguenti parametri: <ul><li><strong>$A</strong> per l'anno</li><li><strong>$S</strong> per l'id dello store</li><li><strong>$N</strong> per il numero del documento</li></ul>

]]>
                              </comment>
                          </formato>
                          <numero_iniziale translate="label">
                            <label>Numero iniziale</label>
							<frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>

							<comment>Il numero della prima fattura dopo l'installazione del modulo. Non verrà considerato negli anni successivi </comment>
                          </numero_iniziale>

					   </fields>
					   </fattura>
				      <ndc translate="label">
					  <label>Note di consegna</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>1</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                           <formato translate="label">
                               <label>Formato Numero</label>
                               <frontend_type>text</frontend_type>
                               <sort_order>0</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <backend_model>zab_billing/config_formato</backend_model>
                               <comment>
                                   <![CDATA[
Si può inserire qualsiasi carattere alfanumerico. All'interno del formato devono essere specificati i seguenti parametri: <ul><li><strong>$A</strong> per l'anno</li><li><strong>$S</strong> per l'id dello store</li><li><strong>$N</strong> per il numero del documento</li></ul>

]]>
                               </comment>
                           </formato>
                           <numero_iniziale translate="label">
                               <label>Numero iniziale</label>
                               <frontend_type>text</frontend_type>
                               <sort_order>1</sort_order>
                               <show_in_default>1</show_in_default>
                               <show_in_website>1</show_in_website>
                               <show_in_store>1</show_in_store>
                               <comment>Il numero della prima nota di consegna dopo l'installazione del modulo. Non verrà considerato negli anni successivi </comment>
                           </numero_iniziale>
					   </fields>
					   </ndc>
                        <creditmemo translate="label">
                            <label>Note di Credito (su fattura)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <formato translate="label">
                                    <label>Formato Numero</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>0</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <backend_model>zab_billing/config_formato</backend_model>
                                    <comment>
                                        <![CDATA[
Si può inserire qualsiasi carattere alfanumerico. All'interno del formato devono essere specificati i seguenti parametri: <ul><li><strong>$A</strong> per l'anno</li><li><strong>$S</strong> per l'id dello store</li><li><strong>$N</strong> per il numero del documento</li></ul>

]]>
                                    </comment>
                                </formato>
                                <numero_iniziale translate="label">
                                    <label>Numero iniziale</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>

                                    <comment>Il numero della prima nota di credito dopo l'installazione del modulo. Non verrà considerato negli anni successivi </comment>
                                </numero_iniziale>
                            </fields>
                        </creditmemo>

                        <creditmemo_ndc translate="label">
                            <label>Note di Credito (su nota di consegna)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <formato translate="label">
                                    <label>Formato Numero</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>0</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <backend_model>zab_billing/config_formato</backend_model>
                                    <comment>
                                        <![CDATA[
Si può inserire qualsiasi carattere alfanumerico. All'interno del formato devono essere specificati i seguenti parametri: <ul><li><strong>$A</strong> per l'anno</li><li><strong>$S</strong> per l'id dello store</li><li><strong>$N</strong> per il numero del documento</li></ul>

]]>
                                    </comment>
                                </formato>
                                <numero_iniziale translate="label">
                                    <label>Numero iniziale</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>Il numero della prima nota di credito dopo l'installazione del modulo. Non verrà considerato negli anni successivi </comment>
                                </numero_iniziale>
                            </fields>
                        </creditmemo_ndc>
					</groups>
		</zab_billing>
	  </sections>
</config>
